.small-heading1 {
  color: #100f0f;
}

.title-image1 {
  margin-top: 60px;
  width: 60%;
}

#carousel-1 {
  background-color: white;
}

#carousel-1 .carousel-item {
  padding: 3% 32% 5%;
  text-align: center;
}

#carousel-2 .carousel-item {
  padding: 3% 32% 5%;
  text-align: center;
}

#carousel-1 .carousel-image {
  width: 90%;
  float: none;
}

#carousel-2 .carousel-image {
  width: 90%;
  float: none;
}


